.cardAddContainer{
    display: block;
    background: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    max-width: 100%;
    color: #609EE7;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    padding: 20px;
}

.cardAddTitle{
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}

.addButtonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.addButton{
    color: #609EE7;
    font-size: 60px;
    cursor: pointer;
}

.addButton:hover{
    color: green;
}

.submitButton{
    margin-top: 20px;
    background-color: #609EE7;
    border-width: 0;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.submitButton:hover{
    background-color: #2a7fdf;

}